.content-section {
    text-align: center;
}

.game-links {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 1em 0;
}

.game-section {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    min-height: 100%;
}

.game-section .game-button {
    margin: 0.5em 0;
}

.content-section .btn-success {
    margin: 0.5em;
}

.content-section .btn-warning {
    margin: 0.5em;
}

.img-headshot {
    margin: 1em;
}

.game-header-image {
    width: 100%;
}

.header-image {
    width: 90%;
}

.bg-dark .game-title {
    color: white;
}

.game-title {
    color: black;
}

.games-page-header {
    color: white;
    text-align: left;
    margin: 1em 0;
}

.games-page-description {
    color: white;
    text-align: left;
}

.game-div {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 1em 0;
    gap: 1em;
}


.game-info {
    width: 50%;
    margin: 0.5em 0;
}

.bg-dark .game-description {
    color: white;
}

.game-description {
    color: black;
    margin-bottom: 0.25em;
}

.game-image {
    width: 50%;
    margin: 0.5em 0;
}

.game-link {
    color: #FFB44B;
}

.game-link:hover {
    color: #5AD25A;
}